node_modules
TODO.md
update-notifier-npm.json
zsh/config/.isolated-storage/
zsh/config/coc/list-*.json
zsh/config/coc/commands
zsh/config/coc/lists
zsh/config/coc/extensions/db.json
zsh/config/truffle/
