[submodule "zsh/src/pure"]
	path = zsh/src/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/src/zsh-autosuggestions"]
	path = zsh/src/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/src/z"]
	path = zsh/src/z
	url = https://github.com/rupa/z.git
[submodule "vim/src/nerdtree"]
	path = vim/src/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "fzf/src/fzf"]
	path = fzf/src/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/src/vim-gitgutter"]
	path = vim/src/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/src/nerdtree-git-plugin"]
	path = vim/src/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "node/src/nvm"]
	path = node/src/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "vim/src/typescript-vim"]
	path = vim/src/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/src/ale"]
	path = vim/src/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/src/auto-pairs"]
	path = vim/src/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/src/YouCompleteMe"]
	path = vim/src/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/src/base16"]
	path = vim/src/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/src/base16-shell"]
	path = vim/src/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "ethereum/src/go-ethereum"]
	path = ethereum/src/go-ethereum
	url = https://github.com/ethereum/go-ethereum
[submodule "vim/src/vim-tmux-navigator"]
	path = vim/src/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/src/vim-solidity"]
	path = vim/src/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "tmux/src/fonts"]
	path = tmux/src/fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/src/lightline"]
	path = vim/src/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "tmux/src/base16-tmux"]
	path = tmux/src/base16-tmux
	url = https://github.com/Kraust/base16-tmux.git
[submodule "vim/src/nerdcommenter"]
	path = vim/src/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
